<h1>Flights</h1>

<%= form_with method: "get" do |form| %>
    <%= label_tag(:query, "Search for:") %>
    <%= select_tag(:departure_time, options_for_select(@departure_dates)) %>
    <%= select_tag(:departure_airport_id, options_for_select(@departure_airports)) %>
    <%= select_tag(:arrival_airport_id, options_for_select(@arrival_airports)) %>
    <%= select_tag(:passenger_number, options_for_select([1, 2, 3, 4])) %>
    <%= form.submit "Search" %>
<% end %>

<br>
<br>

<%= form_with url: "/", method: :get do |form| %>
    <%= form.hidden_field :passenger_number, value: params[:passenger_number] %>
    <%= form.collection_radio_buttons :flight_id, @available_flights, :id, :flight_number %>
    <%= form.submit "Select" %>
<% end %>
