<h1>Your Booking</h1>

<h2>Booking <%= @booking.id %></h2>

<p>Airline: <%= @booking.flight.company %><br>
Flight Number: <%= @booking.flight.flight_number %><br>
Departure Airport: <%= @booking.flight.departure_airport.airport_code %><br>
Arrival Airport: <%= @booking.flight.arrival_airport.airport_code %><br>
Departure Time: <%= @booking.flight.departure_time %><br>
Flight Duration: <%= @booking.flight.flight_duration %></p>

<br>

<h2>Passengers</h2>

<ul>
  <% @booking.passengers.each do |passenger| %>
    <li>
      <%= passenger.name %>&nbsp;&nbsp;
        <%= button_to "Delete", passenger_path(passenger), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      </li>
  <% end %>
</ul>

<div data-controller='change-passengers' data-change-passengers-hidden-class='hide'>
  <button data-change-passengers-target='button' data-action='click->change-passengers#add'>Add Passenger</button><br><br>

  <div data-change-passengers-target='form'>
    <%= form_with model: @booking, method: :patch do |form| %>
      <ul>
        <%= form.fields_for :passengers, @booking.passengers.build do |passenger_form| %>
          <li>
            <%= passenger_form.label :name %>
            <%= passenger_form.text_field :name %>

            <%= passenger_form.label :email %>
            <%= passenger_form.text_field :email %>
        
          </li><br>
        <%= form.submit "Add New" %>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>

